<?xml version="1.0" encoding="UTF-8"?>
<!--
  WiX Installer for UltraSearch
  Combines Service, UI, and Launcher into a single MSI.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Id="*"
      Name="UltraSearch"
      Language="1033"
      Version="$(var.ProductVersion)"
      Manufacturer="Ultrasearch Team"
      UpgradeCode="F5B2C1A2-5BC0-4C5D-93E4-0D6F9A6C9E11">

    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perMachine"
        InstallPrivileges="elevated" />

    <MajorUpgrade
        DowngradeErrorMessage="A newer version of UltraSearch is already installed."
        Schedule="afterInstallInitialize"
        MigrateFeatures="yes" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Icon -->
    <Icon Id="ProductIcon" SourceFile="ultrasearch/assets/icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

    <!-- Application directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="UltraSearch" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="UltraSearchProgramMenu" Name="UltraSearch" />
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="UltraSearchData" Name="UltraSearch">
          <Component Id="cmp_data_dir" Guid="F6FA2E26-39E9-4A1A-9B0E-2ACF26E7D111" KeyPath="yes">
            <CreateFolder>
              <util:PermissionEx User="Users" GenericAll="yes" />
            </CreateFolder>
          </Component>
          <Directory Id="UltraSearchConfig" Name="config">
            <Component Id="cmp_config_dir" Guid="7C3BEF3F-3D87-4E6A-8D7C-7C2D40F0A222">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes" />
              </CreateFolder>
            </Component>
          </Directory>
          <Directory Id="UltraSearchLog" Name="log">
            <Component Id="cmp_log_dir" Guid="2F7E0D40-6D5C-4958-AE9C-06442E9B3333">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes" />
              </CreateFolder>
            </Component>
          </Directory>
          <Directory Id="UltraSearchIndex" Name="index">
            <Directory Id="UltraSearchIndexMeta" Name="meta">
              <Component Id="cmp_index_meta" Guid="0C0B3E5D-5C7A-4E61-9E2A-136D2AE44444">
                <CreateFolder>
                  <util:PermissionEx User="Users" GenericAll="yes" />
                </CreateFolder>
              </Component>
            </Directory>
            <Directory Id="UltraSearchIndexContent" Name="content">
              <Component Id="cmp_index_content" Guid="6C2F9C7E-2F2E-4D19-91E2-7B7B5BE55555">
                <CreateFolder>
                  <util:PermissionEx User="Users" GenericAll="yes" />
                </CreateFolder>
              </Component>
            </Directory>
            <Directory Id="UltraSearchIndexSemantic" Name="semantic">
              <Component Id="cmp_index_semantic" Guid="9D6C1B9F-7A3D-4EAF-8C1B-9A9A6AE66666">
                <CreateFolder>
                  <util:PermissionEx User="Users" GenericAll="yes" />
                </CreateFolder>
              </Component>
            </Directory>
          </Directory>
          <Directory Id="UltraSearchState" Name="volumes">
            <Component Id="cmp_state_dir" Guid="1E5DF4B1-5D4C-4B61-8F9E-5C5C7AF77777">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes" />
              </CreateFolder>
            </Component>
          </Directory>
          <Directory Id="UltraSearchJobs" Name="jobs">
            <Component Id="cmp_jobs_dir" Guid="3A8E6C23-7F9D-4C3B-9D1C-6E6E8AF88888">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes" />
              </CreateFolder>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- UI Component -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmp_ui_exe" Guid="*" Win64="yes">
        <File Id="fil_ui_exe" Source="target\release\ui.exe" KeyPath="yes" />
      </Component>

      <Component Id="cmp_launcher_exe" Guid="*" Win64="yes">
        <File Id="fil_launcher_exe" Source="target\release\launcher.exe" KeyPath="yes" />
      </Component>

      <Component Id="cmp_shortcuts" Guid="*">
        <RegistryValue
            Root="HKCU"
            Key="Software\UltraSearch"
            Name="ShortcutsInstalled"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        <Shortcut Id="sc_startmenu"
                  Directory="UltraSearchProgramMenu"
                  Name="UltraSearch"
                  Target="[INSTALLFOLDER]launcher.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ProductIcon"
                  Description="Launch UltraSearch" />
        <Shortcut Id="sc_desktop"
                  Directory="DesktopFolder"
                  Name="UltraSearch"
                  Target="[INSTALLFOLDER]launcher.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ProductIcon"
                   Description="Launch UltraSearch" />
        <RemoveFile Id="rm_startmenu_shortcut"
                    On="uninstall"
                    Directory="UltraSearchProgramMenu"
                    Name="UltraSearch.lnk" />
        <RemoveFile Id="rm_startmenu_folder"
                    On="uninstall"
                    Directory="UltraSearchProgramMenu"
                    Name="*" />
        <RemoveFolder Id="rm_startmenu_dir"
                      Directory="UltraSearchProgramMenu"
                      On="uninstall" />
        <RemoveFile Id="rm_desktop_shortcut"
                    On="uninstall"
                    Directory="DesktopFolder"
                    Name="UltraSearch.lnk" />
      </Component>

      <!-- Service Component -->
      <Component Id="cmp_service_exe" Guid="*" Win64="yes">
        <File Id="fil_service_exe" Source="target\release\service.exe" KeyPath="yes" />
        
        <ServiceInstall
            Id="ServiceInstaller"
            Type="ownProcess"
            Name="UltraSearchService"
            DisplayName="UltraSearch Indexing Service"
            Description="Provides high-performance file indexing for UltraSearch."
            Start="auto"
            Account="LocalSystem"
            ErrorControl="normal"
            Vital="yes" />
            
        <ServiceControl 
            Id="StartService" 
            Start="install" 
            Stop="both" 
            Remove="uninstall" 
            Name="UltraSearchService" 
            Wait="yes" />
      </Component>

      <!-- Protocol Handler Component -->
      <Component Id="cmp_protocol_handler" Guid="*" Win64="yes">
        <RegistryKey Root="HKCR" Key="ultrasearch">
            <RegistryValue Type="string" Value="URL:UltraSearch Protocol" KeyPath="yes" />
            <RegistryValue Type="string" Name="URL Protocol" Value="" />
            <RegistryKey Key="shell\open\command">
                <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ui.exe&quot; &quot;%1&quot;" />
            </RegistryKey>
            <RegistryKey Key="DefaultIcon">
                <RegistryValue Type="string" Value="[INSTALLFOLDER]ui.exe,0" />
            </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="MainFeature" Title="UltraSearch" Level="1">
      <ComponentRef Id="cmp_ui_exe" />
      <ComponentRef Id="cmp_launcher_exe" />
      <ComponentRef Id="cmp_service_exe" />
      <ComponentRef Id="cmp_protocol_handler" />
      <ComponentRef Id="cmp_shortcuts" />
      <ComponentRef Id="cmp_data_dir" />
      <ComponentRef Id="cmp_config_dir" />
      <ComponentRef Id="cmp_log_dir" />
      <ComponentRef Id="cmp_index_meta" />
      <ComponentRef Id="cmp_index_content" />
      <ComponentRef Id="cmp_index_semantic" />
      <ComponentRef Id="cmp_state_dir" />
      <ComponentRef Id="cmp_jobs_dir" />
    </Feature>

    <!-- ARP metadata -->
    <Property Id="ARPHELPLINK" Value="https://github.com/Dicklesworthstone/ultrasearch/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/Dicklesworthstone/ultrasearch" />
    <Property Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" />

    <!-- Custom action: ensure ProgramData tree writable by Users (S-1-5-32-545). -->
    <CustomAction Id="GrantProgramDataAcls"
                  Directory="UltraSearchData"
                  ExeCommand='cmd.exe /C icacls "[UltraSearchData]" /grant "*S-1-5-32-545:(OI)(CI)M" /T /C /Q'
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="GrantProgramDataAcls" After="InstallFiles">NOT REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
